body{
    margin: 0;
    font-size: large;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
}
p,
.form{
    width: 50%;
    margin: 5vh auto;
}

p{
    text-align: center;
}

.form {
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
    align-items: center;
    padding: 2em;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.75);
}

.form button {
    grid-column: span 2; 
    padding: 0.7em;
    margin: 10px 15% 0;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bold;
    background-color: rgb(100, 100, 100);
    color: white;
    border: 2px solid white;
    transition: all 0.2s ease-in-out;
}

.form button:hover{
    cursor: pointer;
    color: rgb(100, 100, 100);
    background-color: white;
    border: 2px solid grey;
}

/* switch css assisted by w3schools - https://www.w3schools.com/howto/howto_css_switch.asp */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #21f36b;
}

input:checked + .slider:before {
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}